html, body{
    height: 100%;
}

#map {
	height:50%;
	min-height:200px;
}

.divider {
	height:5px;
	background-color:#e22f2f;
  margin-bottom:20px;
}

.large-stat {
	font-size:22px;
}

.large-stat-title {
	font-size:15px;
}

.stat {
	text-align:center;
	padding-bottom:15px;
}

.leaflet-control-attribution {
	display: none;
}

#splits table {
  font-size:0.8em;
}

@media (min-width: 992px) {
	.large-stat {
		font-size:40px;
	}

	.large-stat-title {
		font-size:25px;
	}
}
