html, body{
    height: 100%;
}

#map {
	height:50%;
	min-height:200px;
}

@media (min-height:650px) {
  #map {
    min-height:260px;
  }
}

@media (min-height:700px) {
  #map {
    min-height:300px;
  }
}

@media (min-height:800px) {
  #map {
    min-height:400px;
  }
}

.divider {
	height:5px;
	background-color:#e22f2f;
  margin-bottom:20px;
}

.large-stat {
	font-size:22px;
}

.large-stat-title {
	font-size:15px;
}

.stat {
	text-align:center;
	padding-bottom:15px;
}

.leaflet-control-attribution {
	display: none;
}

#splits table {
  font-size:0.8em;
}

@media (min-width: 992px) {
	.large-stat {
		font-size:40px;
	}

	.large-stat-title {
		font-size:25px;
	}
}

#MainMenu a.active .deleteAthlete {
  color:#fff;
}

.deleteAthlete {
  color:#6f6f6f;
  float:right;
}

#AddMenu {
  margin-bottom: 80px;
}

button.easy-button-button {
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  margin: 0;
  padding: 6px 8px;
  line-height: 1;
}

button.enabled-active {
    color: #5e9cff;
}
