
body{
	/* Setting default text color, background and a font stack */
	font-size:0.825em;
	color:#666;
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;
}

.sponsorListHolder{
	margin-bottom:30px;
	/*width:755px;*/
	margin:auto;
}
.sponsorListHolder li {
	display:inline-block;
	margin:2px;
}

.sponsorListHolder li a {
	border:1px solid #ddd;	
	background:#f9f9f9;
	display:block;
	width:180px;
	height:180px;
	text-align:center;
	color:#aaa;
	line-height:10px;
}

.sponsorListHolder li a:hover{
	border:1px solid #ccc;
	opacity:0.6;
	
	/* CSS3 inset shadow: */
	/*-moz-box-shadow:0 0 40px #ccc inset;
	-webkit-box-shadow:0 0 40px #ccc inset;
	box-shadow:0 0 40px #ccc inset;*/
}

.sponsorListHolder li a img {
	padding-top:20px;
}

.sponsorListHolder .description {
	display:none;
}

.clear{
	/* This class clears the floats */
	clear:both;
}


/* The styles below are only necessary for the styling of the demo page: */

#main{
	background-color: #f3f3f4;
	padding-left:220px;
	/*position:relative;
	margin:0 auto;
	width:920px;*/
}

#header {
	margin-bottom:30px;
	background-image:url('../img/banner.png');
	background-color:#333;	
	/*border-bottom:3px solid #eee;*/
	color:#aaa;
	/* box-shadow: 2px 2px 20px 10px #ddd; */
}

#userMessage {
	float:right;
	padding:5px;
}

h1{
	padding:4px 4px !important;
	text-align:left;
	/*text-shadow:0 1px 1px white;*/
	color:#fff !important;
	font-size:1.2em !important;
	line-height:normal !important;
	float:left;
}
/*
h1,h2{
	font-family:"Myriad Pro",Arial,Helvetica,sans-serif;
}

h2{
	font-size:14px;
	font-weight:normal;
	text-align:center;
	
	position:absolute;
	right:40px;
	top:40px;
}

h3 {
	color:#666 !important;
}

h4{
	text-align:left;
	color:#666 !important;
}*/

ul#navBar {
	width:800px;
	margin:auto;
	list-style:none;
	text-align:center;
	padding:5px 0;
}

ul#navBar li {
	display:inline;
	padding:5px;
}

#navBar a{
	color:#5DBEF0;
	color:#fff;
}

.note{
	font-size:12px;
	font-style:italic;
	padding-bottom:20px;
	text-align:center;
}

a, a:visited {
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	text-decoration:underline;
}

a img{
	border:none;
}

#footer {
	padding:15px 5px 15px 240px;
	text-align:left;
	background-color: #FFF;
	color:#888;
	font-size:0.8em;
}

@media (max-width: 768px) { 
	#footer {
		padding:15px 5px 15px 5px;
	}
}

#camera {
	text-align:center;
}

#player {
}

ul#selector {
	list-style:none;
	/*background-color: #eee;*/
	/* border-radius:10px; */
	padding:0; /*15px 0 5px 0;*/
	min-height: 99px;
	/*width: 755px;*/
	margin: 0px auto;
}


ul#selector li {
	display:inline-block;
	margin:3px;
	font-size:11px;
	min-height:91px;
	min-width:100px;
	background-color: #474747;
}

.timeAgo {
	display:block;
	font-size:10px;
	color: #FFF;
}

.deleteMovie {
	display:block;
	text-align:right;
	margin:0;
	padding:0;
	line-height:0.9em;
}

.played {
	opacity:0.5;
}

.playing {
	font-weight:bold;
	background-color:#ccffcc;
}

#cameraTitle {
	padding:20px 0 5px 60px;
	text-align:center;
}

#pageControls {
	padding-top:20px;
}


/*stats*/
ul#stats {
	margin: 10px 0 40px 0;
	/*border-bottom:5px solid #eee;*/
	list-style:none;
	text-align:center;
}

ul#stats li {
	display:inline-block;
	zoom:1;
	*display: inline;
	_height: 30px;
	/*border-right:1px solid #aaa;*/
	padding:10px;
	color:#888;
	width:167px;
	font-size:60px;
	font-weight:bold;
}

ul#stats li:last-child {
	border-right:0;
}

ul#stats li .units, #stats .span4 .span12 .units, #stats div .span6 .units, #stats .span3 .units {
	font-size:14px;
}

ul#stats li .title, #stats .span4 .span12 .title, #stats .span3 .title {
	font-size:10px;
	display:block;
	text-align:center;
}

#stats div .span6 .title {
	font-size:13px;
}

#stats .span4 .span6 {
	text-align:center;
	font-size:64px;
	font-family:Helvetica;
	color:#666;
}

#stats .span3 {
	text-align:center;
	font-size:64px;
	font-family:Helvetica;
	color:#666;
}

#stats .span4 .span12, #stats .span7 .readingFloat {
	font-size:22px;
	text-align:center;
	color:#666;
	padding:5px 0 0 0;
}

#stats .span7 .readingFloat {
	font-size:34px;
}

#stats .span1 {
	font-size:14px;
	text-align:center;
	margin-left:0.8%;
	width:7.7%;
}

#stats .span1 .title, #stats .span2 .title,  #stats .span7 .readingFloat .title {
	font-size:11px;
	text-align:center;
}

#stats .span1 .units, #stats .span2 .units,  #stats .span7 .readingFloat .units {
	font-size:11px;
}

#stats .span7 .rfSmall {
	font-size:20px;
}

#stats .span7 .rfSmall .title { 
	font-size:10px;
}


.lval {
	font-size:60px;
}
